@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Condensed Bold'), url('/static/HelveticaNeueCondensedBold.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Condensed Black'), url('/static/HelveticaNeueCondensedBlack.woff') format('woff');
}

.menu {
  background-color: #262525;
  height: 60px;
  width: 100%;
}

.menuItems {
  display: flex;
  flex-flow: colum nowrap;
  justify-content: space-between;
}

.menuItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: 'Helvetica Neue Condensed Bold', Helvetica, sans-serif;
  font-size: 24px;
  margin: 24px 32px;
  color: #FF6F61;
  text-decoration: none;
  transition: color 100ms ease-in-out;
}

.menuText {
  display: inline-block;
}

.ghIcon {
  height: 40px;
  width: 40px;
  fill: #FF6F61;
  transition: fill 100ms ease-in-out;
}

.menuItem:hover {
  color: #FFF;

  .ghIcon {
    fill: #FFF;
  }
}
