@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Condensed Bold'), url('/static/HelveticaNeueCondensedBold.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Condensed Black'), url('/static/HelveticaNeueCondensedBlack.woff') format('woff');
}

.landingPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #262525;

  strong {
    font-family: 'Archivo Black';
    text-transform: uppercase;
    font-size: 48px;
    color: #FF6F61;
  }

  @media screen and (max-width: 768px) {
    strong {
      font-size: 32px;
    }
  }
}
